<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Machine Learning Projects</title>
    <link rel="stylesheet" href="../static/ml.css">
</head>
<body>
    <div class="main">

        <div class="heading">
            <header>
                <h1>
                    Machine Learning Projects
                </h1>
            </header>
        </div>

        <div class="back-page">
            <a href="{{ url_for ('index_page') }}" , methods = "GET">
                <input class="button" type="submit"  value="⬅Back to Main Page" name="" >
            </a>

        </div>

        <div class="container"> 
            <div class="box">
                <a href="https://car-price-predictor-75.herokuapp.com/" target="_blank">
                    <div class="img">
                        <img class="aa" src="https://wallpapercave.com/wp/wp2671918.jpg" title="click here">
                    </div>
                </a>
                <div class="txt">
                            <p><h3>Car Price Prediction</h3></p>
                            <p style="text-align:left">This Machine Learning Application can be used to predict the
                                <b>Selling Price</b> of the car based on some of the factors like
                                    Kilometers Driven, Owner Type, Transmission, etc of car.
                            </p>
                </div>
                <div class="goto">
                        <div class="app">
                            <p>
                                <a href="https://car-price-predictor-75.herokuapp.com/" target="_blank">Go To App➡</a>
                            </p>
                        </div>
                        <div class="code">
                            <p>
                                <a href="https://github.com/AdityarajChaudhari/car-price-prediction-app" target="_blank">View Source Code➡</a>
                            </p>
                        </div>
                </div>

            </div>

            <div class="box">
                <a href="https://salaycensus1.herokuapp.com/" target="_blank">
                    <div class="img">
                        <img class="aa" src="https://images7.alphacoders.com/676/thumb-1920-676408.jpg" title="click here">
                    </div>
                </a>
                <div class="txt">
                            <p><h3>Salary Census Prediction</h3></p>
                            <p style="text-align:left">Based on Certain aspects like Age, Gender, Race/Ethnicity, Work-Style, etc Machine Learning algorithms can help us determine that if the salary of the person is above or below 50K.
                            </p>
                </div>
                <div class="goto">
                        <div class="app">
                            <p>
                                <a href="https://salaycensus1.herokuapp.com/" target="_blank">Go To App➡</a>
                            </p>
                        </div>
                        <div class="code">
                            <p>
                                <a href="https://github.com/AdityarajChaudhari/SalaryCensus" target="_blank">View Source Code➡</a>
                            </p>
                        </div>
                </div>

            </div>

            <div class="box">
                <a href="https://campus-recruitment-75.herokuapp.com/" target="_blank">
                    <div class="img">
                        <img class="aa" src="https://wallpaperaccess.com/full/4861498.png" title="click here">
                    </div>
                </a>

                <div class="txt">
                            <p><h3>Campus Recruitment Prediction</h3></p>
                            <p style="text-align:left">Here we consider features like gender, hsc stream, under graduate degree,etc to predict that if the candidate has been placed in a company or not using Machine Learning.
                            </p>
                </div>
                <div class="goto">
                        <div class="app">
                            <p>
                                <a href="https://campus-recruitment-75.herokuapp.com/" target="_blank">Go To App➡</a>
                            </p>
                        </div>
                        <div class="code">
                            <p>
                                <a href="https://github.com/AdityarajChaudhari/Campus-Recruitment" target="_blank">View Source Code➡</a>
                            </p>
                        </div>
                </div>

            </div>

            <div class="box">
                <a href="https://dirgh-aayusha.herokuapp.com/" target="_blank">
                    <div class="img">
                        <img class="aa" src="https://wallpapercave.com/wp/wp3884770.jpg" title="click here">
                    </div>
                </a>

                <div class="txt">
                            <p><h3>Insurance Premium Prediction</h3></p>
                            <p style="text-align:left">The ML application created will predict the amount of insurance Premium which will help the user to choose appropriate health insurance policy based on his/her current health situation.
                            </p>
                </div>
                <div class="goto">
                        <div class="app">
                            <p>
                                <a href="https://dirgh-aayusha.herokuapp.com/" target="_blank">Go To App➡</a>
                            </p>
                        </div>
                        <div class="code">
                            <p>
                                <a href="https://github.com/ManthanTakalkar/Insurance-Premium-Predictor-App" target="_blank">View Source Code➡</a>
                            </p>
                        </div>
                </div>

            </div>

        </div>

        <div class="container1"> 
            <div class="box1">
                <a href="https://concrete-strength-75.herokuapp.com/" target="_blank">
                    <div class="img1">
                        <img class="aa" src="https://jooinn.com/images/concrete-55.jpg" title="click here">
                    </div>
                </a>

                <div class="txt">
                            <p><h3>Concrete Strength Prediction</h3></p>
                            <p style="text-align:left">The objective of this project is trying to predict the concrete compressive strength.Here we consider features like cement, aggregate, amt of water, etc to predict the strength of concrete.
                            </p>
                </div>
                <div class="goto1">
                        <div class="app">
                            <p>
                                <a href="https://concrete-strength-75.herokuapp.com/" target="_blank">Go To App➡</a>
                            </p>
                        </div>
                        <div class="code">
                            <p>
                                <a href="https://github.com/AdityarajChaudhari/Concrete-Strength-Prediction/tree/master" target="_blank">View Source Code➡</a>
                            </p>
                        </div>
                </div>

            </div>

            <div class="box1">
                <a href="https://diabetes-prediction-75.herokuapp.com/" target="_blank">
                    <div class="img1">
                        <img class="aa" src="https://www.healtheuropa.eu/wp-content/uploads/2020/01/iStock-adrian825.jpg" title="click here">
                    </div>
                </a>

                <div class="txt">
                            <p><h3>Diabetes Detection</h3></p>
                            <p style="text-align:left">Based on certain factors like Glucose, Skin Thickness, Insulin,etc we can predict that if person has diabetes or not using Machine Learning Algorithm.
                            </p>
                </div>
                <div class="goto1">
                        <div class="app">
                            <p>
                                <a href="https://diabetes-prediction-75.herokuapp.com/" target="_blank">Go To App➡</a>
                            </p>
                        </div>
                        <div class="code">
                            <p>
                                <a href="https://github.com/AdityarajChaudhari/diabetes_prediction" target="_blank">View Source Code➡</a>
                            </p>
                        </div>
                </div>

            </div>

            <div class="box1">
                <a href="https://wine-classification.herokuapp.com/" target="_blank">
                    <div class="img1">
                        <img class="aa" src="https://wallpaperaccess.com/full/468015.jpg" title="click here">
                    </div>
                </a>

                <div class="txt">
                            <p><h3>Wine Quality Classification</h3></p>
                            <p style="text-align:left">This application classifies Wine as Awesome Quality Wine or as Average Quality Wine based on composition of various ingredients like pH, Sulphates, Alcohol, Chlorides, etc.
                            </p>
                </div>
                <div class="goto1">
                        <div class="app">
                            <p>
                                <a href="https://wine-classification.herokuapp.com/" target="_blank">Go To App➡</a>
                            </p>
                        </div>
                        <div class="code">
                            <p>
                                <a href="https://github.com/AdityarajChaudhari/Wine-prediction-app" target="_blank">View Source Code➡</a>
                            </p>
                        </div>
                </div>

            </div>

            <div class="box1">
                <a href="https://wheat-kernel-indetifier-75.herokuapp.com/" target="_blank" >
                    <div class="img1">
                        <img class="aa" src="https://wallpapershome.com/images/wallpapers/wheat-3840x2160-5k-4k-wallpaper-meadows-sunset-5271.jpg" title="click here">
                    </div>
                </a>

                 <div class="txt">
                            <p><h3>Wheat Kernel Identification</h3></p>
                            <p style="text-align:left">Based on the measurements of wheat kernel like area,perimeter,compactness,etc we can classify the Wheat into three types namely Rosa,Kama and Canadian.
                            </p>
                </div>
                <div class="goto1">
                        <div class="app">
                            <p>
                                <a href="https://wheat-kernel-indetifier-75.herokuapp.com/" target="_blank">Go To App➡</a>
                            </p>
                        </div>
                        <div class="code">
                            <p>
                                <a href="https://github.com/AdityarajChaudhari/wheat75" target="_blank">View Source Code➡</a>
                            </p>
                        </div>
                </div>

            </div>

        </div>

        <div class="container2"> 
            <div class="box2">
                <a href="https://income-prediction-75.herokuapp.com/" target="_blank">
                    <div class="img2">
                        <img class="aa" src="https://www.teahub.io/photos/full/2-23445_money-backgrounds-free-download-hd-4k-high-definition.jpg" title="click here">
                    </div>
                </a>

                <div class="txt">
                            <p><h3>Income Prediction</h3></p>
                            <p style="text-align:left">Based on the interview score, test score ,years of experience, etc we can predict that what should be the appropriate salary to be given to the employee.
                            </p>
                </div>
                <div class="goto2">
                        <div class="app">
                            <p>
                                <a href="https://income-prediction-75.herokuapp.com/" target="_blank">Go To App➡</a>
                            </p>
                        </div>
                        <div class="code">
                            <p>
                                <a href="https://github.com/AdityarajChaudhari/income_prediction" target="_blank">View Source Code➡</a>
                            </p>
                        </div>
                </div>

            </div>

            <div class="box2">
                <a href="https://climate-visibility-75.herokuapp.com/" target="_blank">
                    <div class="img2">
                        <img class="aa" src="https://c1.wallpaperflare.com/preview/214/802/562/clouds-cloudy-cold-daylight.jpg" title="click here">
                    </div>
                </a>

                <div class="txt">
                            <p><h3>Visibility Prediction</h3></p>
                            <p style="text-align:left">Here we consider features like Drybulb Temp, Month, Sea level pressure to classify weather into Less Visibility,Weather with Moderate visibility and Weather with Highest Visibility .
                            </p>
                </div>
                <div class="goto2">
                        <div class="app">
                            <p>
                                <a href="https://climate-visibility-75.herokuapp.com/" target="_blank">Go To App➡</a>
                            </p>
                        </div>
                        <div class="code">
                            <p>
                                <a href="https://github.com/AdityarajChaudhari/Climate-Visibility" target="_blank">View Source Code➡</a>
                            </p>
                        </div>
                </div>

            </div>

            <div class="box2">
                <a href="https://calories-burnt-prediction-75.herokuapp.com/" target="_blank">
                    <div class="img2">
                        <img class="aa" src="https://goodmenproject.com/wp-content/uploads/2020/08/shutterstock_534586327.jpg" title="click here">
                    </div>
                </a>

                <div class="txt">
                            <p><h3>Calories Burnt Prediction</h3></p>
                            <p style="text-align:left">Here we consider features like Age, Weight, Heart Rate, etc to determine the calories burnt by the person after workout.A person can see this and work accordingly to get desired results.
                            </p>
                </div>
                <div class="goto2">
                        <div class="app">
                            <p>
                                <a href="https://calories-burnt-prediction-75.herokuapp.com/" target="_blank">Go To App➡</a>
                            </p>
                        </div>
                        <div class="code">
                            <p>
                                <a href="https://github.com/AdityarajChaudhari/Calories-Burned-Prediction" target="_blank">View Source Code➡</a>
                            </p>
                        </div>
                </div>

            </div>

        </div>

        <div class="foot">
            <footer>Copyright © 2022 by Adityaraj Hemant Chaudhari</footer>
        </div>
    </div>
</body>
</html>