<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Power BI Projects</title>
    <link rel="stylesheet" href="../static/pb.css">
</head>
<div class="main">

    <div class="heading">
        <header>
            <h1>
                Power BI Projects
            </h1>
        </header>
    </div>

    <div class="back-page">
        <a href="{{ url_for ('index_page') }}" , methods = "GET">
            <input class="button" type="submit"  value="⬅Back to Main Page" name="" >
        </a>

    </div>

    <div class="container">
        <div class="box">
            <div class="img">
                <img class="aa" src="https://media.glassdoor.com/l/79/c9/1e/4e/office.jpg">
            </div>
            <div class="txt">
                <p><h3>Office Commodity Dashboard</h3></p>
                <p style="text-align:left">This Dashboard can be used to analyze reqs and cost involved of the required commodities in the office like Binder, Pen, Pencil Set, etc based on various factors like region, year, month, etc.
                </p>
            </div>
            <div class="goto">
                <div class="app">
                    <p>
                        <a href="https://drive.google.com/file/d/1PUdKdIuuosTc2hNlZic6F4aLIcISmgMf/view?usp=sharing" target="_blank" >Go To DashBoard➡</a>
                    </p>
                </div>

            </div>

        </div>

        <div class="box">
            <div class="img">
                <img class="aa" src="https://www.bhmpics.com/thumbs/red_ball_cricket-t2.jpg">
            </div>
            <div class="txt">
                <p><h3>IPL Batting Demographics (2016-2022)</h3></p>
                <p style="text-align:left">This Dashboard can be used to analyze the batting stats of players like runs, strike rate, average, no.of sixes and many things in IPL for last 7 seasons from 2016 to 2022.
                </p>
            </div>
            <div class="goto">
                <div class="app">
                    <p>
                        <a href="https://drive.google.com/file/d/1VSGlCVTFu3P-KnO-Bs8M-1HNUCG_XZmm/view?usp=sharing" target="_blank" >Go To DashBoard➡</a>
                    </p>
                </div>

            </div>

        </div>

        <div class="box">
            <div class="img">
                <img class="aa" src="https://media.istockphoto.com/photos/pandemic-on-a-world-map-picture-id1225463542?k=20&m=1225463542&s=170667a&w=0&h=XES1ePTZMuYDs2LvxQ3imQmpKmLStJjw6PRbpbcE01I=">
            </div>
            <div class="txt">
                <p><h3>Novel Corona Virus Analytics</h3></p>
                <p style="text-align:left">This Dashboard can be used to analyze the CoVid-19 Cases all around the world.The dashboard gives info about Active Cases, Deaths, Recovered cases.It can be used for analyzing trends.
                </p>
            </div>
            <div class="goto">
                <div class="app">
                    <p>
                        <a href="https://drive.google.com/file/d/1tEGVRGlErNN7kobY0sjrdOPOyLX9SY6N/view?usp=sharing" target="_blank" >Go To DashBoard➡</a>
                    </p>
                </div>

            </div>

        </div>

        <div class="box">
            <div class="img">
                <img class="aa" src="https://m.economictimes.com/thumb/msid-89201837,width-1200,height-900,resizemode-4,imgsize-25876/instagram.jpg">
            </div>
            <div class="txt">
                <p><h3>Top Instagram Celebrities Demographics</h3></p>
                <p style="text-align:left">This Dashboard can be used to analyze the top 100 Instagram celebrities.The factors like posts, likes,followers which contribute in making them famous and big shot instagram celebrities.
                </p>
            </div>
            <div class="goto">
                <div class="app">
                    <p>
                        <a href="https://drive.google.com/file/d/1fu9yhoCbds7-q645MGwl_hZ7gH4g_s71/view?usp=sharing" target="_blank" >Go To DashBoard➡</a>
                    </p>
                </div>

            </div>

        </div>

    </div>

    <div class="container1">
        <div class="box1">
            <div class="img1">
                <img class="aa" src="https://wallpaperaccess.com/full/6030036.jpg">
            </div>
            <div class="txt">
                <p><h3>Student Placement Survey</h3></p>
                <p style="text-align:left">This Dashboard can be used to analyze the placement of the students.Lets analyze the placement conditions based on the factors like edu.qualifications, streams, marks, Internships!
                </p>
            </div>
            <div class="goto1">
                <div class="app">
                    <p>
                        <a href="https://drive.google.com/file/d/1ALxBjhI65w4PQPawZumbXARX_a0R4gmj/view?usp=sharing" target="_blank" >Go To DashBoard➡</a>
                    </p>
                </div>

            </div>

        </div>

        <div class="box1">
            <div class="img1">
                <img class="aa" src="https://www.bedfordindependent.co.uk/wp-content/uploads/2020/03/Supermarket.jpg">
            </div>
            <div class="txt">
                <p><h3>Tamil Nadu Grocery SuperMarket Analysis</h3></p>
                <p style="text-align:left">This Dashboard can be used to analyze the sales,profit,etc on items of various categories like grains,beverages,snacks from supermarket store located in various TN Cities.
                </p>
            </div>
            <div class="goto1">
                <div class="app">
                    <p>
                        <a href="https://drive.google.com/file/d/1i6qoJyOCKzXHdqM8C3ZX2SnQUNmpNYpq/view?usp=sharing" target="_blank" >Go To DashBoard➡</a>
                    </p>
                </div>

            </div>

        </div>

         <div class="box1">
            <div class="img1">
                <img class="aa" src="https://cdn.trendir.com/wp-content/uploads/old/house-design/assets_c/2014/04/house-built-focus-day-night-lighting-9-corner-night-thumb-970xauto-39863.jpg">
            </div>
            <div class="txt">
                <p><h3>Ravishing Property Analytics</h3></p>
                <p style="text-align:left">This Dashboard is used to analyze the rates,area in sq.m and amenities provided to the buyer based on the requirements like parking area, No.of floors/rooms,basement,house location,etc.
                </p>
            </div>
            <div class="goto1">
                <div class="app">
                    <p>
                        <a href="https://drive.google.com/file/d/1IeHaZvHpE7vZfo-vbewkYn60DSC-VCwH/view?usp=sharing" target="_blank" >Go To DashBoard➡</a>
                    </p>
                </div>

            </div>

        </div>

        <div class="box1">
            <div class="img1">
                <img class="aa" src="https://uconn-today-universityofconn.netdna-ssl.com/wp-content/uploads/2017/04/shutterstock_373492012-health-insurance-e1491415000969.jpg">
            </div>
            <div class="txt">
                <p><h3>Insurance Premium Analysis</h3></p>
                <p style="text-align:left">This Dashboard can be used to analyze the insurance amount given to the user based on his gender,smoking habits,age,BMI.The region helps determine the insurance amount given to user!
                </p>
            </div>
            <div class="goto1">
                <div class="app">
                    <p>
                        <a href="https://drive.google.com/file/d/19h3f-pJ0mSabqKcEdubMsrGaYfK35IaD/view?usp=sharing" target="_blank" >Go To DashBoard➡</a>
                    </p>
                </div>

            </div>

        </div>

    </div>

    <div class="container2">
        <div class="box1">
            <div class="img1">
                <img class="aa" src="https://www.cricket.com.au/~/-/media/News/2017/11/25Stumps.ashx?w=1600">
            </div>
            <div class="txt">
                <p><h3>IPL Bowling Demographics (2016-2022)</h3></p>
                <p style="text-align:left">This Dashboard can be used to analyze the bowling stats of players based on wickets taken ,economy, 5/4 wicket hauls, over bowled, etc  in IPL for last 7 seasons from 2016-2022.
                </p>
            </div>
            <div class="goto1">
                <div class="app">
                    <p>
                        <a href="https://drive.google.com/file/d/1VT4Vuovqp77b5Kc3bqYmWOBrj0uq21ta/view?usp=sharing" target="_blank" >Go To DashBoard➡</a>
                    </p>
                </div>

            </div>

        </div>

        <div class="box1">
            <div class="img1">
                <img class="aa" src="https://media.istockphoto.com/photos/forex-trading-graph-and-candlestick-chart-suitable-for-financial-picture-id1140147076?b=1&k=20&m=1140147076&s=170667a&w=0&h=2YKnNReNc3tQc3g4Y8xQ8a0CA4LYxmlwUmx6FRkm5Mw=">
            </div>
            <div class="txt">
                <p><h3>Top 10 Richest People Analysis</h3></p>
                <p style="text-align:left">This Dashboard can be used to analyze the age, money, source of income, ranks and country of origin of the top 10 wealthiest billionaires in the whole world!
                </p>
            </div>
            <div class="goto1">
                <div class="app">
                    <p>
                        <a href="https://drive.google.com/file/d/1KYipGdjjsxNf4UFI1rqEjrsTrYnIeLGK/view?usp=sharing" target="_blank" >Go To DashBoard➡</a>
                    </p>
                </div>

            </div>

        </div>
    </div>
  <div class="foot">
            <footer>Copyright © 2022 by Adityaraj Hemant Chaudhari</footer>
  </div>
</div>
</body>
</html>